@import "./fonts/JosefinSans";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  font-family: JosefinSans, sans-serif;
}