.menu {
  display: grid;
  height: max-content;
}

.sectionTitle {
  margin: 10px 0 5px;
  font-size: 16px;

  &:not(:first-of-type) {
    padding-top: 20px;
  }
}

.menuLink {
  padding: 12px 6px;
  font-size: 14px;
}