@import "../styles/breakpoints";
@import "../styles/variables";

.header {
  display: grid;
  grid-template: " . content . " auto / 1fr minmax(0, $headerWidth) 1fr;

  @media only screen and (max-width: $breakpoint-big) {
    grid-template: " content " auto / 1fr;
  }
}

.headerStart {
  display: flex;
  align-items: center;
  gap: 40px;
}

.content {
  grid-area: content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
}

.navbar {
  display: flex;
  gap: 20px;
}

.logo {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: 2px;
}

.logoText {
  color: var(--color-text-main);

  &:first-of-type {
    font-weight: bold;
  }
}

.buttons {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 8px;
}

.logoIcon {
  width: 25px;
  height: 25px;
}

.sourceIcon {
  width: 20px;
  height: 20px;
}