@import "../styles/breakpoints";
@import "../styles/variables";

.main {
  display: grid;
  grid-template: " . content . " auto / 1fr minmax(0, $contentWidth) 1fr;

  @media only screen and (max-width: $breakpoint-big) {
    grid-template: " content " auto / 1fr;
  }
}

.content {
  grid-area: content;
  padding: 20px;

  @media only screen and (max-width: $breakpoint-middle) {
    padding: 0 20px;
  }
}