html {
  --color-bg-main: #0c0c0c;
  --color-bg-primary: #fcfcfc;
  --color-bg-secondary: #181818;

  --color-text-main: #eeeeee;
  --color-text-primary: #ffffff;
  --color-text-secondary: #808080;

  --color-border-main: #2b2b2b;
  --color-border-primary: #e3e3e3;
  --color-border-secondary: #272727;
}