html:not(:global(.dark)) {
  --color-bg-main: #ffffff;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #ffffff;

  --color-text-main: #101010;
  --color-text-primary: #121212;
  --color-text-secondary: #181818;

  --color-border-main: #ff0000;
  --color-border-primary: #ff0000;
  --color-border-secondary: #ff0000;
}