html:not(:global(.dark)) {
  --color-bg-main: #ffffff;
  --color-bg-primary: #212121;
  --color-bg-secondary: #efefef;

  --color-text-main: #101010;
  --color-text-primary: #ffffff;
  --color-text-secondary: #808080;

  --color-border-main: #030303;
  --color-border-primary: #463b3b;
  --color-border-secondary: #646464;
}